<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="A timeline of my achievements and events">
<meta name="robots" content="noimageindex">
<meta property="og:title" content="Achievements | Param"/>
<meta property="og:description" content="A timeline of my achievements and events"/>
<meta property="og:image" content="https://yt3.ggpht.com/-q1rEVnN3cRM/AAAAAAAAAAI/AAAAAAAAAAA/P8AsrXZCh1w/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" />
